## Các trạng thái của agent:
- Vị trí tồn kho theo thời gian t. Đối với bài báo, vị trí tồn kho có thể là vô hạn( có thể cho luôn âm vô cực để xét chi tiết thiếu hàng). và nó chỉ xét trên 1 nguyên liệu duy nhất. cho nên trạng thái chỉ cần quan tâm đến vị trí tồn kho(số lượng hàng còn trong kho tính cả hàng đã đặt).
    Với bài làm hiện tại, có đa dạng sản phẩm tồn tại trong kho, cụ thể là có 92353, cho nên việc phân chia trạng thái theo chiều sẽ bất khả thi, vì nó sẽ nhân theo cấp số mũ, thành ra gần như tạo ra vô số trạng thái.
    Giờ đây có một ý tưởng là sẽ áp dụng phần chia sản phẩm theo ABC/XYZ để giảm thiểu đi số lượng loại sản phẩm trong kho đi.
# Cách phân tích ABC/XYZ
- ABC analysis – chia theo giá trị và tầm quan trọng
    - A: ~20% sản phẩm nhưng chiếm ~80% giá trị tồn kho/doanh thu. Đây là nhóm “xương sống” cần quản chặt.

    - B: ~30% sản phẩm, ~15% giá trị. Quản lý vừa phải.

    - C: ~50% sản phẩm, chỉ ~5% giá trị. Quản lý đơn giản hơn.
- XYZ analysis – chia theo tính ổn định nhu cầu
    - X: nhu cầu ổn định, dự đoán tốt (ví dụ bán đều mỗi tháng).

    - Y: nhu cầu có mùa vụ hoặc biến động theo chu kỳ.

    - Z: nhu cầu thất thường, khó dự đoán.
- Kết hợp 2 lại phần tích thành ABC/XYZ thì sẽ có:
    - Mỗi sản phẩm sẽ rơi vào một trong 9 ô (A‑X, A‑Y, A‑Z, B‑X, … C‑Z).

    - Sau đó, có thể gom tiếp các ô có đặc điểm quản lý giống nhau thành khoảng 50 nhóm.

    - Ví dụ: A‑X và B‑X có thể chung nhóm “quản lý chặt và nhu cầu ổn định”.

    - C‑Z có thể thành một nhóm “ít quan trọng, nhu cầu khó đoán”.

Sau khi áp dụng phương pháp phân tích trên, thì từ 92353 loại sản phẩm trong kho thì sẽ chia ra được 50 phân nhóm.

Sau khi chia ra phân nhóm xong, thì tiếp tục hành trình phân tích rời rạc trạng thái. Giờ thì sẽ chia mẫu trạng thái ra làm 4 mức rời rạc (0-3).

Sau khi phân nhóm xong, State = mảng 50 phần tử (mỗi phần tử ∈ {0,1,2,3}) → chỉ còn 
4**50 tổ hợp thay vì với số mũ 92353 tổ hợp ban đầu.

## Phân tích data

In [3]:
import pandas as pd
import os
transaction = pd.read_csv('C:\\Users\\HP ZBook 15\\.cache\\kagglehub\\datasets\\frtgnn\\dunnhumby-the-complete-journey\\versions\\1\\transaction_data.csv')
transaction.head(5)

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0

In [15]:
#Tạo 1 bảng cho biết tổng số lượng sản phẩm đã được mua của từng sản phẩm
print(transaction[['PRODUCT_ID','QUANTITY','SALES_VALUE']].groupby('PRODUCT_ID').sum())
transaction[['DAY','QUANTITY']].groupby('DAY').sum()

            QUANTITY  SALES_VALUE
PRODUCT_ID
25671              6        20.94
26081              1         0.99
26093              1         1.59
26190              1         1.54
26355              2         1.98
...              ...          ...
18293142           1         7.19
18293439           1         7.19
18293696           1         4.79
18294080           1         7.19
18316298           1         4.14

[92339 rows x 2 columns]

     QUANTITY
DAY
1         302
2         156
3         678
4         849
5         368
..        ...
707    409667
708    445522
709    355172
710    424690
711    404297

[711 rows x 1 columns]